{% extends "base.html" %}
{% block content %}
<style>
        body {
                background-color: #FFD700;
            }
</style>
<header class="bg-dark py-5" style="background-color: #8B0000 !important">
    <div class="container px-4 px-lg-5 my-5" >
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" style="color: #FFD700 !important" >Categories</h1>
            <p class="lead fw-normal text-white-50 mb-0" style="color: #FFD700 !important">Choose your Category Below</p>
        </div>
    </div>
</header>
<div class = 'container'>
    <div class = 'row'>
        <center>
            <div class = 'col-8' style="color: #8B0000">

                {% for category in categories  %}
                <br/><br/><br/><br/>
                <h3>  <a class="dropdown-item" href="{% url 'category' category %}">{{ category.name }}</a>  </h3>
                {% endfor %}
                <br/> <br/> <br/> <br/> <br/> <br/> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </center>
    </div>
</div>
{% endblock %}